<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTDConfig 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- mybatis的数据类型和处理器等等...都可以实现接口重写，然后配置  -->
<configuration>
    <mappers>
    <!--映射文件-->
       <mapper resource="user.xml"/>
    </mappers>
</configuration>