/* 全局css */
   
    /*公用*/
    body {
        padding: 0;
        margin: 0;
        color: #333333;
        background-color: #F7F7F7;
        font-family: "Microsoft YaHei";
    }   
    .h-header, .h-footer{
        color: #FFFFFF;
        min-width:950px;   
        background-color: #5B5C60;    
    }
    .h-wh950 {        
        width: 950px;
        margin: 0 auto; 
        position: relative;
    } 
    .height63{
        height: 63px;
    }
    .h-wh950 .h-logo, .h-wh950 .h-menu, .h-wh950 .loginin, 
    .h-wh950 .h-loginout{
        float: left;
    } 

    /* FAQ color */
    .h-menu .faq-color{
        color: #F5604C;
    }

    /* log -1 */
    .h-logo {
        background:url("http://gtms04.alicdn.com/tps/i4/T1HtiQFD8eXXaZaWzi-173-85.png") no-repeat;      
        height: 84px;
        width: 173px;
        position: absolute;
        top:0;
        left: 0;
        z-index:111;
    }

    /* li列表-2 */
    .h-menu {
        margin-left: 175px;
        height:100%;
        width: auto;
    }
    .h-menu li {
        margin-top:20px;
        float: left;
        height: auto;
        width: auto;
        text-align: center;
        position:relative;
        border-right:2px solid #737478;
    }
    .h-menu li.bgno{background:none;}
    .h-menu li.last {
        background-color: rgba(0, 0, 0, 0);
    }
    .h-menu li a {
        color: #FFFFFF;
        font-size: 14px;
        padding:10px 18px;  
    }


    /* 登录 -3 */
   .h-loginout{
        margin-top: 14px;
        margin-left: 30px;
    }
    .h-loginout a {
        background-color: #13C1E3;
        color: #FFFFFF;
        float: left;
        width: 64px;
        height: 31px;
        line-height: 31px;
        text-align: center;      
    }
   
    /* 登录 -4 显示文字 */
    .h-wh950 .loginin a, .loginin em{
        display: inline-block;
        _display:block;       
        _display:inline;
    }
    .loginin {
        color: #FFFFFF;
        font-size: 12px;
        height: 62px;
        line-height: 62px;
        overflow: hidden;
        margin-left: 10px;  
    }
    .loginin a, .loginin em{        
        text-overflow:ellipsis;   
        white-space:nowrap;  
        overflow:hidden;
        color: #FFFFFF;
    }
    .loginin .user-name{
        max-width: 90px; 
        width: auto!important;     
        width: 90px;
    }
    .loginin em, .h-wh950 .loginin a{
        padding-right: 5px;
    }  
    .loginin .user-name{
        color: #FF6600;
    }

   /* 查看比赛成绩 */
    .loginin .find-achievement{
        color: orange;
        text-decoration: underline;
        width: 72px;
    }
    .loginin .h-reg{
        background-color: #13C1E3;
        color: #FFFFFF;
        float: left;
        width: 64px;
        height: 31px;
        line-height: 31px;
        text-align: center;   
        margin-top:14px;margin-right:5px;
     }
    
     /* 主体css */
    .content{
        min-height: 830px;
        height: auto!important;
        height: 830px;
        margin-top: 30px;
        padding:0;
        overflow:hidden;
        clear: both;
    }
    
    /* foot background */
    .foot-bg{
            height: 278px;
            background: url(http://gtms02.alicdn.com/tps/i2/T1fKiTFtpXXXXsvRsU-1440-278.png) center top no-repeat;
        }

    /* 脚css */
    .h-footer{padding-top: 258px;background: url("http://gtms02.alicdn.com/tps/i2/T1fKiTFtpXXXXsvRsU-1440-278.png") top center no-repeat;}

    .h-footer p {
        text-align: center; 
        padding:0;
        height:65px; 
        line-height:65px;
        background-color:#5B5C60;
    }
    .h-footer a {
        color: #FFFFFF;
    } 

  /* 下拉 */
  .h-sq a{background:url("http://gtms03.alicdn.com/tps/i3/T1Aa08FsthXXayyjnr-9-5.png") no-repeat bottom center;padding-bottom:10px;}
  .h-down{position:absolute;width:80px;background:#fff;border:1px solid #555555;border-top:none;left:0;top:-20px;height:auto;}
  .h-downbg{width:112px;position:absolute;left:0;top:63px;display:none;height:90px;z-index:1;opacity:0.8;filter:alpha(opacity=80);}
  .h-menu li.h-sq{width:83px;}
  .h-down li{margin-top:0;background:none;border-right:none;}
  .h-down li.last{background:none;}
  .h-down li a{color:#555;padding:0px 0;border-bottom:1px solid #d5d5d5;display:block;height:44px;line-height:44px;width:70px;margin-left:5px;}
  .h-down li a:hover{color:#06a6d6}
  .h-down li.tit{height:63px;}
  .h-down li a.last{border-bottom:none;}
  .h-down li.tit a{color:#f4614d;font-size:14px;background:url("http://gtms04.alicdn.com/tps/i4/T1W7OQFBXdXXayyjnr-9-5.png") no-repeat 30px 45px;padding-top:8px;}